<html>
  <head>
    <title>Voting Verification</title>
  </head>
  <body style="background-color: #e0e0e0">
    <h1 style="margin-top: 20px; text-align: center; font-size: 50px">
      ID Verification
    </h1>
    <img
      id="bg"
      src="{{ url_for('id_verification_video_feed') }}"
      style="margin-top: 30px; margin-left: 50%; transform: translateX(-50%)"
    />
    <form method="get" action="{{ url_for('main') }}">
    <button type="submit" style="
              border-radius: 10px;
              margin-left : 50%;
              transform: translateX(-50%);
              margin-top: 50px;
              background-color: green;
              color: white;
              width: 400px;
              height: 60px;
            ">
      Finish
    </button>
    </form>
  </body>
</html>
